*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#full_stack_conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    background: #0B0B0E;
}




/* header_________conteiner */


#header_conteiner{
    display: flex;
    height: 80px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    background: #0B0B0E;
    align-items: center;
    border-bottom: 1px solid #003004;
}



#nav_box{
    display: flex;
    width: 1040px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    color: #FFF;
    font-size: 16px;
    gap: 16px;
}


/* mainnnn_______conteiner */



#main_conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
    width: 100%;
    gap: 112px;
    ;
}




#card_conteiner{
    display: flex;
    width: 1040px;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}




#AI_layer_text{
    display: flex;
    width: 564px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}



.title_style{
    color: #FFF;
    font-size: 56px;
}




.p_style{
    font-size: 16px;
    color: #7A7A7A;
    margin-top: 12px;
    margin-bottom: 12px;
}


#button_box{
    display: flex;
    gap: 10px;
}



#first_button{
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-size: 16px;
    background: #FF371A;
    border: 0;
    color: #FFF;
}


#last_button{
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #2F2C33;
    font-size: 16px;
    color: #FFF;
    background: #0B0B0E;
}



#icons_box{
    display: flex;
    align-items: center;
    gap: 32px;
}



#innovate_conteiner{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}




#h2_title{
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 400px;
}



#innovate_boxesssss{
    display: flex;
    gap:24px;
}


.inovate_box_style{
    display: flex;
    flex-direction: column;
    height: 583px;
    width: 508px;
    gap: 24px;
   background-color: #FF371A;
    border-radius: 12px;
    padding: 16px;
}


.inovate_span_style{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

#inovate_first{
    gap: 24px;
    border-radius: 24px;
    border: 1px solid #2F2C33;
    border: 0;
    border-radius: 12px;
    background: #191919;
    padding: 16px;
}


#switch_box{
    display: flex;
    gap: 24px;
    border: 1px solid #2F2C33;
    border: 0;
    border-radius: 12px;
    background: #191919;
}


#swith_text_style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-top: 20px;
}

#switch_img{
    border-radius: 12px 0px 0px 12px;
}

#inovate_img{
    width: 100%;
}

