*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#full_stack_conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 112px;
    background: #0B0B0E;
}




/* header_________conteiner */


#header_conteiner{
    display: flex;
    height: 80px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    background: #0B0B0E;
    align-items: center;
    border-bottom: 1px solid #003004;
}



#nav_box{
    display: flex;
    width: 1040px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    color: #FFF;
    font-size: 16px;
    gap: 16px;
}


/* mainnnn_______conteiner */



#main_conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
    width: 100%;
    gap: 112px;

}




#card_conteiner{
    display: flex;
    width: 1040px;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}




#AI_layer_text{
    display: flex;
    width: 564px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}



.title_style{
    color: #FFF;
    font-size: 56px;
}




.p_style{
    font-size: 16px;
    color: #7A7A7A;
    margin-top: 12px;
    margin-bottom: 12px;
}


#button_box{
    display: flex;
    gap: 10px;
}



#first_button{
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-size: 16px;
    background: #FF371A;
    border: 0;
    color: #FFF;
}


#last_button{
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #2F2C33;
    font-size: 16px;
    color: #FFF;
    background: #0B0B0E;
}



#icons_box{
    display: flex;
    align-items: center;
    gap: 32px;
}



#innovate_conteiner{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}




#h2_title{
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 400px;
}



#innovate_boxesssss{
    display: flex;
}


.inovate_box_style{
    display: flex;
    flex-direction: column;
    height: 583px;
    width: 508px;
    gap: 24px;
    border-radius: 12px;
    padding: 16px;
}


.inovate_span_style{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

#inovate_first{
    gap: 24px;
    border-radius: 24px;
    border: 1px solid #2F2C33;
    border: 0;
    height: 381px;
    border-radius: 12px;
    background: #191919;
    padding: 16px;
}


#switch_box{
    display: flex;
    gap: 24px;
    border: 1px solid #2F2C33;
    border: 0;
    border-radius: 12px;
    background: #191919;
}


#swith_text_style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-top: 20px;
}

#switch_img{
    border-radius: 12px 0px 0px 12px;
}

#inovate_img{
    width: 100%;
}

#Decentralized_box{
    display: flex;
    border-radius: 12px;
    background: #191919;
    padding: 16px;
    height: 280px;
    width: 478px;
    align-items: center;
    gap: 24px;
}



#decentralized_1{
    display: flex;
    width: 476px;
}


#dec_img{
    margin-right: 20px;
}


#Smart_Contract_box{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    height: 280px;
    gap: 24px;
    border-radius: 12px;
    background: #191919;
    padding: 16px;
}

h3{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

h3+p{
    color: #7A7A7A;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 400;
}


#Wall_of_love_conteiner{
    gap: 32px;
}

#last_right_full_box{
    display: flex;
    gap: 32px;
    width: 1040px;
    margin-top: 24px;
}


.first_last_boxes{
    display: flex;
    width: 508px;
    min-width: 360px;
    height: 780px;
    gap: 24px;
    flex-direction: column;
}

.six_boxes_style_{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 252px;
    padding: 32px;
    gap: 25px;
    border-radius:  12px;
    background: #191919;
}

.six_box_pp{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.div_text{
    display: flex;
}

.img_padding{
    padding-right: 17px;
}

.column_text{
    display: flex;
    flex-direction: column;
    color: #535862;
    font-size: 16px;
}

#thinking_box{
    display: flex;
    width: 1040px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: #191919;
}


#butt0n_conteiner{
    display: flex;
    max-width:  480px;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    width: 480px;
    height: 85px;

}

#input_box{
    display: flex;
    flex-direction: column;
}

#mail_butt{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 48px;
    color: #FFF;
    border-radius: 12px;
    border: 0;
    background: #FF371A;

}


#email_style{
    color: #717680;
    font-size: 16px;
    padding:  12px 14px;
    align-items: center;
    gap: 8px;
    height: 48px;
    width: 310px;
    border-radius:  8px;
    border: 1px solid #7A7A7A;
}


input+span{
    color: #717680;
}

a{
    color: #717680;
}

#text_title{
    display: flex;
    align-items: center;
    width: 1040px;
    height: 108px;
    
}

#text_title_h{
    color: #FFF;
    font-size: 45px;
    font-weight: 800;
    padding-right: 19px;
}

#text_title_p{
    display: flex;
    color: #7A7A7A;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}


#price_boxes{
    display: flex;
    gap: 24px;
}


.price_cards_style{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    align-items: flex-start;
    height: 600px;
    width: 330px;
    background: #191919;
}

.basic_plan_box_style{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-bottom: 2px solid #888;
}

.basic_plan_style{
    display: flex;
    align-items: center;
    width: 125px;
    padding: 5px;
    gap: 3px;
    flex-direction: column;
    margin-bottom: 18px;
}


.basic_plan_span{
    display: flex;
    align-items: center;
    color: #7A7A7A;
    font-size: 16px;
}

.basic_number{
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
}

.basic_title{
    color: #FFF;
    font-size: 20px;
}

.list_style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}

.list_style_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.list_li{
    display: flex;
    color: #7A7A7A;
    font-size: 16px;
}

.list_img{
    display: flex;
    padding-right: 14px;
}

.list_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 65px;
    width: 300px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    border: 1.5px solid #FF371A;
    background: #FF371A;
}



.button_ather_style{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 65px;
    width: 300px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    background-color: #000000;
    border: 1.5px solid #FF371A;
}




#plane_box{
    display: flex;
    gap: 82px;
    width: 1040px;
    height: 76px;
}




#first_box{
    display: flex;
    width: 480px;
    height: 76px;
}




#last_box{
    display: flex;
    width: 480px;
    height: 76px;
}



.span_type{
    display: flex;
    flex-direction: column;
}


.pwi_style{
    width: 32px;
    height: 32px;
    margin-right: 13px;
}



.plan_title{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.plan_pp{
    color: #7A7A7A;
    padding-top: 5px;
    font-size: 18px;
}

/* foooter_conteineeeer*/

#footer_box{

}


#footer_conteiner{
    width: 1040px;
    height: 244px;
    background-color: aquamarine;
}

#footer_logos{
    display: flex;
    height: 56px;
    margin-top: 50px;
    width: 1040px;
    background-color: #FF371A;
}